In [88]:
# Import libraries
import numpy as np
import pandas as pd
from datetime import datetime
import copy

import networkx as nx

import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('ggplot')

# Set paths
fig_path = './figures/'
data_path = './data/'

In [89]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

------------------------------------
**Get the companies**
------------------------------------

In [90]:
# Read data

mydateparser = lambda x: datetime.strptime(x, "%Y-%m-%d")
df = pd.read_csv(data_path+"AAPL.csv", index_col='Date', parse_dates=True, date_parser=mydateparser)
df.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2018-03-16,178.649994,179.119995,177.619995,178.020004,175.349915,39404700
2018-03-19,177.320007,177.470001,173.660004,175.300003,172.670731,33446800
2018-03-20,175.240005,176.800003,174.940002,175.240005,172.611618,19649400
2018-03-21,175.039993,175.089996,171.259995,171.270004,168.701157,36338100
2018-03-22,170.000000,172.679993,168.600006,168.850006,166.317459,41490800

In [91]:
df['Price_Up'] = np.where(df['Close'].shift(-1) > df['Close'], 1, 0)
df.head()

,Open,High,Low,Close,Adj Close,Volume,Price_Up
Date,,,,,,,
2018-03-16,178.649994,179.119995,177.619995,178.020004,175.349915,39404700,0
2018-03-19,177.320007,177.470001,173.660004,175.300003,172.670731,33446800,0
2018-03-20,175.240005,176.800003,174.940002,175.240005,172.611618,19649400,0
2018-03-21,175.039993,175.089996,171.259995,171.270004,168.701157,36338100,0
2018-03-22,170.000000,172.679993,168.600006,168.850006,166.317459,41490800,0

In [92]:
X = df.iloc[:,:df.shape[1]-1].values
Y = df.iloc[:,df.shape[1]-1].values

In [93]:
# X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2)

test_size = 0.2
k = int(len(X) * (1. - test_size))

X_train, X_test = X[:k], X[k:]
Y_train, Y_test = Y[:k], Y[k:]

In [94]:
tree = DecisionTreeClassifier().fit(X_train, Y_train)

print(tree.score(X_test, Y_test))

0.6470588235294118

In [95]:
tree_predictions = tree.predict(X_test)
print(tree_predictions)

[1 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 0 0 0 0 1 1 1 1 1 1 1 0 1 1 1
 1 0 0 1 0 0 1 1 1 1 1 0 0 0]

In [96]:
print(Y_test)

[0 1 0 1 1 1 0 0 1 1 1 1 0 1 0 1 0 0 1 1 1 1 1 1 0 0 0 1 0 1 0 1 1 0 1 1 1
 1 0 1 1 0 0 0 1 1 1 1 1 1 0]